<% content_for :object_type, "File diff" %>
<% content_for :title, "Changes to #{@page.name} at #{@diff.sha.truncate(10)}" %>
<% @diff.patches.select{|pt|  pt.delta.old_file[:path].encode("UTF-8") == @page.name or
pt.delta.old_file[:path].encode("UTF-8").starts_with?(@page.name + "/") or
pt.delta.new_file[:path].encode("UTF-8") == @page.name or
pt.delta.new_file[:path].encode("UTF-8").starts_with?(@page.name + "/")}.each do |c| %>
<p class='diff'>
<%= simple_markup(diff_markup(c.to_s)).html_safe %>
</p>
<% end %>
<small>By <%=h @diff.author%> on <%=h @diff.date%></small>
