<% content_for :object_type, "Diff" %>
<% content_for :title, "Commit #{@diff.sha.truncate(10)}" %>
<p><%=@diff.message%></p>
<% if @diff.parents.size > 1 %>
Merged: <%= @diff.parents.map{|df| link_to df.to_s, difflink(df.to_s)}.join(" ") %>
<% end %>
<p>
<% @diff.patches.each do |c| %>
<% if c.delta.deleted? %>
<%= "File deleted: #{c.delta.old_file[:mode]}"%>
<% elsif c.delta.added? %>
<%= "File created: #{c.delta.new_file[:mode]}"%>
<% elsif c.delta.renamed? %>
<%= "File renamed: #{link_to c.delta.old_file[:path], wikilink(c.delta.old_file[:path])} => "%>
<% else %>
<%= "File:" %>
<% end %>
<%=link_to c.delta.new_file[:path], wikilink(c.delta.new_file[:path])%>
[<%=link_to 'Diff', difflink(@diff.sha, c.delta.new_file[:path])%>]
</p>
<p class='diff'>
<%= simple_markup(diff_markup (c.to_s)).html_safe %>
</p>
<% end %>
<small>By <%=h @diff.author%> on <%=h @diff.date%></small>
