body
{
	background: black;
	color: white;
	font-family: sans-serif;
}
/*a
{
	text-decoration: none
}*/

a img
{
	border: none;
}

a:link
{
	color: #00ff00;
}

a:visited
{
	color: #03ab00;
}

a:hover
{
	color: #00ff00;
	text-decoration:underline;
}
td
{
	border-width: 1px;
	border-style: solid;
	border-color: #666;
}

.diff
{
	background: #002C02;
}

.diff-ins
{
	color: #8AFF63;
	background: #000D00;
}

.diff-del
{
	color: #FF9EA0;
	background: #000D00;
	text-decoration: line-through;
}

.diff-at
{
	color: #E200FF;
}

.table-row
{
	display: table-row;
}

.table
{
	display: table;
}

.table-cell
{
	display: table-cell;
}

.separator
{
	clear:both;
}

pre
{
	border-style: dashed;
	border-width: 1px;
	border-color: gray;
	overflow: auto;
	white-space: pre-wrap;  
}

.greenish
{
	background-color: #031000;
}

.floating-box {
	float: left;
	display: block;
	text-align: center;
}

div.toc {
	background-color: #031000;
	border-width: 1px;
	border-color: gray;
}

.article-src {
  box-sizing: border-box; width: 100%; height: 500px;
}
