<% content_for :object_type, "Log" %>
<% content_for :feeds do %>
<%= feeds2links(@feeds) %>
<% end %>
<% content_for :title do %>
Source for <%= @page.title  %>
<% end %>
<p>
<table width='100%'>
<tr><th>Commit</th><th>Message</th><th>Author</th><th style="width: 15em;">Date</th></tr>
<% @page.commits.each do |cmt| %>
<tr><td>
<%= [link_to(cmt.oid[0..8],difflink(cmt.oid, @page.name)), h(cmt.message.force_encoding("UTF-8")), h(cmt.author[:name].force_encoding("UTF-8")), cmt.author[:time]].join('</td><td>').html_safe %>
</td></tr>
<% end %>
</table>
</p>
