<% content_for :object_type, "Page" %>
<% if !Settings.kiosk_mode %>
<% content_for :feeds do %>
<%= feeds2links(@feeds) %>
<% end %>
<% end %>
<% content_for :title, @page.title %>
<% if @page.tree? %>
	<% if index = @page.index %>
		<%= @marked_up_content.html_safe %>
	<% end %>
	<hr />
	<p>
	Other files here: <br />
	<% @page.trees.sort_by{|t| t[:name]}.each do |t| %>
		<%= link_to("#{t[:name]}/", wikilink("#{@page.name}/#{t[:name]}"))%>
		<% if @page.desc_map[t[:name]] %>
		— <%= liteMarkup(@page.desc_map[t[:name]]).html_safe %>
		<% end %> <br />
	<% end %>
	<% @page.articles.sort_by{|t| t[:name]}.each do |t| %>
		<% full_name = if @page.name.blank? then t[:name] else [@page.name, t[:name]].join("/") end %>
		<% unless t[:name] == "index" or WikiPage.is_link? full_name %>
			<%= link_to("#{t[:name]}", wikilink("#{@page.name}/#{t[:name]}"))%>
			<% if @page.desc_map[t[:name]] %>
			— <%= liteMarkup(@page.desc_map[t[:name]]).html_safe %>
			<% end %> <br />
		<% end %>
	<% end %>
	</p>
<% else %>
	<%= @marked_up_content.html_safe %>
<% end %>
<hr />
<% if !Settings.kiosk_mode %>
<div><small>Last edited: <%=h @page.lastedit%></small></div>
<% end %>
