<% content_for :object_type, "Source" %>
<% content_for :feeds do %>
<%= feeds2links(@feeds) %>
<% end %>
<% content_for :title, "Source for '#{@page.title}'" %>
<p>
<% if @page.article? %>
<textarea class="article-src"><%= h @page.contents%></textarea>
<% else %>
It's not an article, sorry.
<% end %>
</p>
<div><small>Last edited: <%=h @page.lastedit%></small>
</div>