body
{
	background: #000000;
	color: #FFFFFF;
}

a
{
	text-decoration: none;
}

a:link
{
	color: #FF0000;
}

a:visited
{
	color: #AA0000;
}

a:hover
{
	color: #FF3300;
	text-decoration: underline;
}
.diff
{
	background: #2C0002;
}
