body
{
	background: #92A093;
	color: black;
}
/*a
{
	text-decoration: none
}*/

a:link
{
	color: #0015B9;
}

a:visited
{
	color: #1B00A3;
}

a:hover
{
	color: #303EFF;
	text-decoration:underline;
}

.greenish
{
	background-color: #1E1E1E
}