<% content_for :title, "CSS overlay" %>

<p>Here you can set your custom CSS overlay, if you don't like the default one.</p>

<p>Site can look ugly with these, but if you don't like the default layout, it's probably ok.</p>

<% if @custom_csses.size > 0 %>
<p>
Presets:
<% @custom_csses.each do |ccss| %>
  <%= link_to ccss, controller: :application, action: :setcss, :css => ccss %><br />
<% end %>
</p>
<% end %>
<p>
<%= link_to "Reset to default", controller: :application, action: :setcss,  :css => "reset" %>
</p>