<!DOCTYPE html>
<!-- Рельсы - говно -->
<html xmlns="http://www.w3.org/1999/xhtml" xml:lang="en-us" lang="en-us">
  <head>
    <title><%= content_for :title %></title>
    <%= content_for :feeds %>
    <link rel="stylesheet" href="/stylesheets/default.css" type="text/css" media="all"/>
    <%= custom_css %>
    <meta name="verify-v1" content="A0gqv7Svq8U38C/QorbkI5PkHIdhStU07UelXwvdO6c=" />
  </head>
  <body>
  
  <div><small>
  <% if content_for :object_type %>
    <%= content_for :object_type %>:
  <% end %>
  <% if @page %>
    <%= full_wikilink(@page.name).html_safe %>
  <% else %>
    [<%= link_to "root", controller: :wiki_pages, action: :page, pagename: ""%>]
  <% end %>
  <% if @sha %>
    @ <%= link_to @sha[0..10], difflink(@sha) %>
  <% end %>
  <% if @page %>
    <% if @page.article? %>
    | <%= (link_to 'src', wikilink_src(@page.name)) %>
    <% end %>
    <% if !Settings.kiosk_mode %>
    | <%=link_to 'log', wikilink_log(@page.name)%>
    <% end %>
  <% end %>
  | <%= link_to 'faq', wikilink('faq') %> | <%= link_to("css", controller: :application, action: :setcss) %> </small></div>
    <%= flash[:notice] %>
    <%= yield %>
    <small>Powered by  <a href="https://gitlab.com/Voker57/bitcheese">bitcheese wiki engine</a></small>
  </body>
</html>
